# Check your access key and secret key in IAM
aws_access_key = ""
aws_secret_key = ""
# AWS region e.g. "us-west-1" or "ap-northeast-1"
aws_region = ""
# AWS key pairs
ssh_key_name = ""
# Path to the key pairs private credential file
ssh_key_path = ""
# "ubuntu" or "centos"
os_type = ""
# root volume size in gigabyes. e.g. "10"
root_volume_size = ""
# working nodes number
ec2_instance_count = ""
# ec2 instance type. e.g. "t3.small"
instance_type = ""
